 * {
    margin: 0;
    padding: 0;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .card {
    margin-left: 50px;
  }

  .more-info {
    margin-right: 25px;
  }
  /* 
  
  .cards {
      margin: 75px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 350px;
      min-height: 500px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-content img {
    height: 146px;
  }
  */
  
  @media screen and (max-width: 820px) {
    .card-container {
      flex-direction: column;
    }
  
    .card {
      margin: 20px;
    }
  }
  
  
   