.control {
    margin-bottom: 20px;
}

.date-line {
    width: 25%;
}

.title {
    display: inline;
}

.maid-reviews-list {
    margin-top: 20px;
}

.scheduled-cleanings-list {
    margin-top: 20px;
    margin-left: 70px;
}

.page-container-profile  {
    padding: 0 70px;
}


.review-list {
    margin-top: 20px;
    margin-left: 50px;


}